{% extends "base.html" %}

{% block nav_about %}id="cur"{% endblock %}

{% block main %}
<img src="me.jpg" id="me"> 
<div id="text">
  <p>The guy to the left is Arpon Raksit. Look at how happy he is. <span>("He's happy because he's insane."&ndash; M.G. Scott)</span> He wrote this, as well other things, which you can find on the other pages.</p>

  <p>But <span>"Who is this kettle corn popping phantom?" &ndash; J. Winger</span></p>

  <p>Well, he really likes math, computer science, tennis, music, and fiction. The last of these includes film, novels, and the all-mighty television. The second to last includes playing the saxophone.</p>

  <p>Right now he's at Harvard, mostly trying to understand as much math as he can, while he can.</p>
</div>
{% endblock %}
