<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Arpon Raksit</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css"/>
    {% block style %}{% endblock %}
    <link rel="stylesheet" type="text/css"
	  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400|Playfair+Display:400,400italic,700,700italic,900"/> 
    {% block mathjax %}{% endblock %}
  </head>

  <body>
    <div id="sidebar">
      <div id="lbracket">&#12304;</div>	
      <img src="/static/robot.jpg" id="robot"> 
    </div>

    <div id="main">
      {% block main %}{% endblock %}
    </div>
  </body>
</html>
