<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Arpon</title>
    <script type="text/javascript" src="//use.typekit.net/ztj7kcf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
    </script>
    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>

  <body>
    <div class="content">
      <ul class="nav">
	<li{% block blg %}{% endblock %}><a href="/">posts</a></li>
	<li{% block prj %}{% endblock %}><a href="/work/">work</a></li>
	<li{% block abt %}{% endblock %}><a href="/about/">about</a></li>
      </ul>

      <div class="welcome">
	&ldquo;&lsquo;&ldquo;Welcome, fellow, to this bordello.&rdquo;<br/>
	&mdash; H. Humbert&rsquo; &mdash; V. Nabokov&rdquo; &mdash; A. Raksit
      </div>

      <div class="main">
	{% block main %}{% endblock %}
      </div>
    </div>
  </body>
</html>
