<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Arpon R. &mdash; Hokumology</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css"/>
    {% block mathjax %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <div class="wrapper">
	<div class="content">	  
	  <ul id="nav">
	    <li {% block nav_about %}{% endblock %}><a href="/about">About</a></li>
	    <li {% block nav_blog %}{% endblock %}><a href="/blog">Blog</a></li>
	    <li {% block nav_work %}{% endblock %}><a href="/work">Work</a></li>
	  </ul>
	  <div id="title">Something clever</div>
	</div>
      </div>
    </div>

    <div id="main">
      <div class="wrapper">
	<div class="content">
	  {% block content %}{% endblock %}
	</div>
      </div>
    </div>
  </body>
</html>
