{% extends "base.html" %}

{% block nav_blog %}id="cur"{% endblock %}

{% block content %}
<h1>Archive {% block category %}{% endblock %}</h1>
<ul class="post_list">
{% for p in posts %}
<li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a>, posted {{ p.created|date:"j M Y" }} in
  {% for c in p.categories.all %}
  {% if not forloop.last %}
  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>, 
  {% else %}
  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
  {% endif %}
  {% endfor %}
</li>
{% endfor %}
</ul>
{% endblock %}
