{% extends "base-twocol.html" %}

{% block style %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="/static/blog.css"/>
{% endblock %}

{% block nav_blog %}id="cur"{% endblock %}

{% block mathjax %}
<script type="text/javascript">    
  MathJax.Hub.Config({extensions: ["tex2jax.js"], "HTML-CSS":{scale: 93}});
</script>
{% endblock %}

{% block left %}
{% for p in lposts %}
<div class="post">
  <div class="post_head">
  <h1>{{ p.title }}</h1>
  <span class="post_info">{{ p.created|date:"j M Y, P" }}</span>
  </div>
  <div class="post_content">
  {{ p.intro|safe }} <a href="/post/{{ p.id }}/">&rarr;</a></p>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block right %}
{% for p in rposts %}
<div class="post">
  <div class="post_head">
  <h1>{{ p.title }}</h1>
  <span class="post_info">{{ p.created|date:"j M Y, P" }}</span>
  </div>
  <div class="post_content">
  {{ p.intro|safe }} <a href="/post/{{ p.id }}/">&rarr;</a></p>
  </div>
</div>
{% endfor %}
{% endblock %}
