<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Arpon Raksit</title>
    <script type="text/javascript" src="//use.typekit.net/ztj7kcf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="/static/home.css"/>
    {% block mathjax %}{% endblock %}
  </head>

  <body>
    <div id="wrapper">
      <div id="content">
	<div id="intro">
	  <span class="welcome">Welcome, fellow, to this bordello.</span>

	  I'm Arpon Raksit.
	</div>

	<div id="list">
	  <ul>
	    <li>I like math, computer science, tennis, music, and fiction</li>

	    <li>I'm currently studying at Harvard, mostly trying to understand as much math as I can, while I can</li>

	    <li id="blog">I try to write things in a <a href="/blog/">blog</a></li>

	    <li id="work">I sometimes get around to doing <a href="/work/">work</a></li>

	    <li id="github">I occasionally write some actual <a href="http://github.com/arponr">code</a></li>

	    <li id="email">I much too often check my <a href="mailto:arpon.raksit@gmail.com">email</a></li>

	    <li id="twitter">I post irrelevant nonsense on <a href="http://twitter.com/arponr">Twitter</a></li>

	    <li id="lastfm">I log my impeccable taste in music on <a href="http://www.last.fm/user/arponr">Last.fm</a></li>
	  </ul>
	</div>
      </div>
    </div>    
  </body>
</html>
