<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Arpon Raksit</title>
    <script type="text/javascript" src="//use.typekit.net/ztj7kcf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="/static/home.css"/>
    {% block mathjax %}{% endblock %}
  </head>

  <body>
    <div class="header">
      <div class="content">
	<ul class="links">
	  <li><a href="http://github.com/arponr">projects</a></li>
	  <li><a href="mailto:arpon.raksit@gmail.com">contact</a></li>
	</ul>
	<span class="name">Arpon R.</span>
      </div>
    </div>
    <img src="/static/robot.jpg" class="robot">
  </body>
</html>
