<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Arpon</title>
    <script type="text/javascript" src="//use.typekit.net/ztj7kcf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="/static/home.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="content">
      Welcome, fellow, to this bordello. I am

      <div class="name">
	<img class="brace" src="/static/lbrace.png">
	Arpon Raksit
	<img class="brace" src="/static/rbrace.png">
      </div>

      <ul>
	<li><a href="/">Blog</a></li>
	<li><a href="/work/">Projects</a></li>
	<li><a href="/about/">About</a></li>
      </ul>
    </div>
  </body>
</html>
