{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/post.css"/>
{% endblock %}

{% block nav_blog %}id="cur"{% endblock %}

{% block mathjax %}
<script type="text/javascript">    
  MathJax.Hub.Config({extensions: ["tex2jax.js"], "HTML-CSS":{scale: 93}});
</script>
{% endblock %}

{% block main %}
<div class="sec">
  <div class="sec_head">
    <h1>{{ p.title }}</h1>
    <div id="sec_info">
      created: {{ p.created|date:"j M Y, P" }}
      {% if p.edited %}
      &nbsp&nbsp/&nbsp&nbsp 
      edited: {{ p.edited|date:"j M Y, P" }}
      {% endif %}
      &nbsp&nbsp/&nbsp&nbsp
      tags: {{ p.tags }}
    </div>
  </div>
  <div class="sec_content">
    {{ p.content|safe }}
    
    <p><a href="/">&larr;</a></p>
  </div>
</div>
{% endblock %}
