{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/post.css"/>
{% endblock %}

{% block nav_blog %}id="cur"{% endblock %}

{% block mathjax %}
<script type="text/javascript">    
  MathJax.Hub.Config({extensions: ["tex2jax.js"], "HTML-CSS":{scale: 93}});
</script>
{% endblock %}

{% block main %}
<h1 class="post">{{ p.title }}</h1>

<div class="post_info">
  created: {{ p.created|date:"j M Y, P" }}
  {% if p.edited %}
  <br/>
  edited: {{ p.edited|date:"j M Y, P" }}
  {% endif %}
  <br/>
  category: {{ p.tags }}
</div>

<div class="post_content"> 
  {{ p.content|safe }}
</div>
<p><a href="/">&larr;</a></p>
{% endblock %}
