{% extends "base-twocol.html" %}

{% block style %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="/static/resume.css"/>
{% endblock %}

{% block nav_resume %}id="cur"{% endblock %}

{% block left %}
<div class="section">
  <h1>Education</h1>
  <div class="subsection">
    <h2>Harvard College</h2>, Sep 2011&ndash;May 2015
    <ul>
      <li>Honors A.B. in Mathematics & Secondary in Computer Science, GPA: 3.973/4.0</li> 
      <li>See "work" page for courses
    </ul>
  </div>
  <div class="subsection">
    <h2>Commack High School</h2>, Sep 2007&ndash;Jun 2011
    <ul>
      <li>International Baccalaureate (IB) Diploma, GPA: 104.4/100</li>
    </ul>
  </div>
</div>

<div class="section">
  <h1>Honours and Awards</h1>
  <div class="subsection">
    <ul>
      <li>Detur Book Prize (Harvard Univ.), Oct 2012</li>
      <li>John Harvard Scholar (Harvard Univ.), Sep 2012</li>
      <li>Intel Science Talent Search Semifinalist, Jan 2011</li>
      <li>National Merit Scholarship Winner, Apr 2011</li>
      <li>Siemens Competition Semifinalist, Oct 2010</li>
      <li><a href="http://www.usaco.org">USACO</a> Gold Division, Nov 2009&ndash;Jun 2011</li>
      <li>National Engineering and Design Challenge 2nd place team, Feb 2009</li>
    </ul>
  </div>
</div>

<div class="section">
  <h1>Skills and Activities</h1>
  <div class="subsection">
    <h2>Programming</h2>
    <ul>
      <li>Languages: C, C++, Python, Java, LaTeX, Bash</li>
      <li>Co-President of Commack High School Computer Club, Sep 2010&ndash;Jun 2011. Taught basic topics in computer science and algorithms.</li>
    </ul>
  </div>
  <div class="subsection">
    <h2>Tennis</h2>
    <ul>
      <li>Harvard Club Tennis, Sep 2011&ndash;present. Commack Varsity Tennis, Mar 2009&ndash;Jun 2011</li>
      <li>SCORE volunteer: taught and played with people with disabilities one hour per week at local tennis centre, Sep 2010&ndash;Jun 2011.</li>
    </ul>	  
  </div>
  <div class="subsection">
    <h2>Saxophone</h2>
    <ul>
      <li>Play alto and soprano saxophones.</li>
      <li>Commack Wind Ensemble and Jazz Ensemble, Oct 2008&ndash;Jun 2011</li>
      <li>'2% Milk', rock/ska/jazz band with friends. Wrote and performed music, Sep 2008&ndash;Jun 2011.</li>
    </ul>	  
  </div>
</div>
{% endblock %}

{% block right %}
<div class="section">
  <h1>Experience</h1>
  <div class="subsection">
    <h2>Mathematics research, Harvard University</h2>, Jun 2012&ndash;Aug 2012
    <ul>
      <li>With Prof. Joe Harris, Dept. of Mathematics</li>
      <li>Funded by Harvard College Program for Research in Science and Engineering (PRISE)</li>
      <li>Supervised independent study of representation theory of Lie groups and Lie algebras, following <em>Representation Theory: A First Course</em> by William Fulton and Joe Harris.</li>
    </ul>
  </div>
  <div class="subsection">
    <h2>Computational modelling research, SUNY Stony Brook</h2>, Jul 2009&ndash;Aug 2011
    <ul>
      <li>With Prof. Dilip Gersappe, Dept. of Materials Science and Engineering</li>
      <li>Garcia MRSEC Research Scholar in summers of 2009 and 2010. NSF-funded REU in summer of 2011.</li>
      <li>Derived and implemented parallel models of material phenomena. Extended the C++ library <a href="http://www.palabos.org">Palabos</a>, which implements a fluid simulation technique called the lattice Boltzmann method.</li>
      <li>Led two projects:
	<ul>
	  <li><em>Modelling heat transport in multiphase materials</em>, Jul 2009&ndash;Aug 2011. Parallel model of heat flow in complex morphologies of composite materials. Project submitted to Intel STS and the Siemens Competition (awards listed above), presented at APS March Meetings 2010 and 2011.</li>
	  <li><em>Simulating tablet dissolution in complex hydrodynamic environment</em>, Jul 2011&ndash;Aug 2011. Parallel model of tablet dissolution in a turbulent fluid. Presented at APS March Meeting 2012.</li>
	</ul>
      </li>
    </ul>	  
  </div>
</div>
<div id="button-wrapper">
  <a href="/static/resume.pdf" class="button">.pdf</a>
</div>
{% endblock %}



