{% extends "base-twocol.html" %}

{% block style %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="/static/resume.css"/>
{% endblock %}

{% block nav_work %}id="cur"{% endblock %}

{% block left %}
<div class="sec">
  <div class="sec_head">
    <h1>Courses</h1>
  </div>
  <div class="sec_content">
    <div class="ssec">
      <h2>Fall 2011</h2>
      <ul>
	<li>CS 121: Theory of computation</li>
	<li>Ethical Reasoning 13: Self, freedom, and existence</li>
	<li>Math 55a: Abstract algebra</li>
	<li>Physics 15a: Mechanics</li>
      </ul>
    </div>
    <div class="ssec">
      <h2>Spring 2012</h2>
      <ul>
	<li>CS 124: Algorithms and data structures</li>
	<li>Expository Writing: Problem of the mind</li>
	<li>Freshman Seminar: Model theory</li>
	<li>Math 55b: Real and complex analysis</li>
	<li>Math 123: Algebra II</li>
      </ul>
    </div>
    <div class="ssec">
      <h2>Fall 2012</h2>
      <ul>
	<li>CS 222: Big data algorithms</li>
	<li>Math 114: Analysis II</li>
	<li>Math 153: Evolutionary dynamics</li>
	<li>Math 231a: Algebraic topology</li>
	<li>Stat 110: Probability</li>
      </ul>
    </div>
    <div class="ssec">
      <h2>Spring 2013</h2>
      <ul>
	<li>Aesthetic and Interpretive Understanding 41: Russian
	  literature</li>
	<li>CS 229r: Mathematical approaches to data privacy</li>
	<li>Math 129: Number fields</li>
	<li>Math 231br: Advanced algebraic topology</li>
	<li>Math 243: Evolutionary dynamics (seminar)</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
