@font-face {
    font-family: pigeon;
    src: url('/static/pigeon-webfont.eot');
    src: url('/static/pigeon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/pigeon-webfont.woff') format('woff'),
         url('/static/pigeon-webfont.ttf') format('truetype'),
         url('/static/pigeon-webfont.svg#PigeonRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    overflow-y: scroll;
}

html, body {
    height: 100%;
}

body, h1, h2, div, ul, li, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-shadow: none;
}

body {
    font-family: ff-tisa-web-pro, serif;
    font-size: 14px;
    line-height: 1.5em;
    background: url('/static/grunge.png');
    color: #bcd6eb;
}

a:focus {
    outline: none;
}

a:link, a:visited {
    color: #bcd6eb;
    text-decoration: none;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

a:hover {
    color: #ffffff;
}

p + p {
    margin-top: 15px;
}

.math {
    font-size: 12px;
}

.content {
    width: 500px;
    max-width: 95%; 
    margin: 0 auto;
    position: relative;
}

.header {
    padding-top: 70px;
}

.nav {
    float: right;
    z-index: 1;
}

.nav li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.nav img {
    width: 20px;
    opacity: .5;
}

.main {
    padding: 60px 0 60px 0;
}

    
/****************************** BLOG ***********************************/

.posts li {
    list-style: none;
    font-size: 16px;
}

.posts li + li {
    margin-top: 30px;
}

.date  {
    font-family: museo-sans, sans-serif;
    font-size: 11px;
    width: 100px;
}

/****************************** POST ***********************************/

.post_content {
    text-align: justify;
}

.post_content blockquote {
    font-style: italic;
    margin: 0 0 0 30px;
}