html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    line-height: 1;
}

body, h1, div, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

a:focus {
    outline: none;
}

body {
    font-family: "adobe garamond pro", georgia, serif;
    font-size: 16px;
    background: #eeeeee;
}

#header_wrapper {
    width: 100%;
    background: #333333;
    padding: 1px 0 1px 0;
    margin-bottom: 20px;
    position: fixed;
    z-index: 2;
}

#header {
    width: 520px;
    max-width: 95%;
    margin: 0 auto;
}

#name {
    font-family: "unifrakturmaguntia", sans-serif;
    font-size: 26px;
    color: #ffffff;
    float: right;
}

.nav {
    padding-top: 7px;
    font-family: europa, sans-serif;
    font-size: 12px;
    text-transform: uppercase; 
}

.nav li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}

.nav a:link, .nav a:visited {
    text-decoration: none;
    color: #888888;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

#cur a:link, #cur a:visited, .nav a:hover {
    color: #ffffff;
}

#main {
    width: 520px;
    max-width: 95%;
    margin: 0 auto;
    padding: 45px 0 10px 0;
    line-height: 140%;
    position: relative;
    z-index: 1;
}

#robot {
    position: fixed;
    z-index: -1;
    height: 90%;
    min-height: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 35px auto 0 auto;
    opacity: .05;
}

#main a:link, #main a:visited {
    color: #004488;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

#main a:hover {
    color: #000000;
}

h1 {
    font-family: europa, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    margin: 12px 0 5px 0;
}

/****************************** BLOG ***********************************/

#about_text {
    margin-bottom: 25px;
}

#about_text p {
    padding: 0;
    margin: 10px 0 0 0;
}

#about_text p.tagline {
    text-align: center;
    font-style: italic;
}

.blog_entry {
    font-family: europa, sans-serif;
    overflow: hidden;
    margin-bottom: 10px;
    width: 48%;
}

.blog_title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.blog_info {
    float: right;
    margin-left: 5px;
    font-size: 12px;
}

/****************************** POST **********************************/

.post_info {
    float: right;
    font-family: europa, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 135%;
}

.post_content {
    clear: both;
    border: 1px 0 1px 0 solid #cccccc;
}

.post_content blockquote {
    font-style: italic;
    margin: 0 0 0 30px;
}

.prev {
    text-align: left;
    width: 30%
}

.home {
    text-align: center;
    width: 40%;
}

.next {
    text-align: right;
    width: 30%;
}

/****************************** RESUME ********************************/

.sec {
    font-family: "hiragino mincho pro";
    overflow: hidden;
    margin-bottom: 30px;
}

.sec h2 {
    font-size: 100%;
    display: inline;
}

.sec li {
    margin-left: 18px;
}

.ssec {
    margin-bottom: 10px;
}

#button-wrapper {
    padding-top: 20px;
    text-align: center;
}

#button-wrapper a:link, #button-wrapper a:visited {
    color: #000;
}

.button {     
    padding: 5px 15px;
    margin-bottom: 20px;
    background: #ccc;
    font-family: 'Courier', monospace;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.button:hover, .button:focus {
    background: #bbb;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.button:active {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}



