html, body {
    height: 100%;
}

body, h1, div, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
    font-family: Times, "Times New Roman", serif;
    font-size: 13px;
    background: #ddd;
    color: #333;
}

#header_wrapper {
    width: 100%;
    margin-bottom: 20px;
    background: #222;
    position: fixed;
    z-index: 1;
}

#header_content {
    width: 640px;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

#name {
    text-transform: uppercase;
    font-size: 14px;
    color: #ccc;
    text-shadow: -1px -1px #111, 1px 1px #555;
    float: right;
}

#nav li {
    display: inline; 
    list-style: none;
    margin-right: 10px;
}

#nav a:link, #nav a:visited {
    text-decoration: none;
    color: #aaa;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#cur a:link, #cur a:visited, #nav a:hover {
    color: #fff;
}

#main {
    width: 640px;
    max-width: 95%;
    margin: 0 auto;
    line-height: 140%;
    padding-top: 60px;
    padding-bottom: 10px;
    position: relative;
}

#main h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    text-shadow: -1px -1px #ccc, 1px 1px #eee;
}

#main a:link, #main a:visited {
    font-style: normal;
    text-decoration: none;
    color: #05a;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#main a:hover {
    color: #aaf;
}

#main blockquote {
    font-style: italic;
    margin-right: 0;
}


