.title {
    float: left;
    font-size: 16px;
}

.sec a:link, .sec a:visited {
    color: #0f538c;
    text-decoration: none;
}

.sec a:hover {
    text-decoration: underline;
}

.info {
    float: right;
}

.grey {
    color: #888888;
}