.post {
    padding-bottom: 20px;
}

.post_info {
    font-size: 10px;
    text-transform: uppercase;
    color: #888;
    float: right;
}

.post h1 {
    margin-bottom: 6px;
    float: left;
}

.post p {
    clear: both;
}