html, body {
    height: 100%;
    line-height: 1;
}

body, h1, h2, div, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-shadow: none;
}

a:link, a:visited {
    color: #fafaf7;
    text-decoration: none;
    border-bottom: 1px solid #fafaf7;
}

a:hover {
    color: #000000;
    border: none;
}

a:focus {
    outline: none;
}

body {
    font-family: prenton-ultra-condensed, sans-serif;
    font-size: 26px;
    background: #2f5489;
    color: #fafaf7;
}

.wrapper {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
} 

.content {
    padding: 100px 50px 100px 50px;
}

.intro {
    margin-bottom: 10px;
    font-size: 32px;
}

.name {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.circle {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: #fafaf7;
    border-radius: 125px;
}

.robot {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding-top: 30px;
}

.links {
    margin-top: 50px;
    text-align: right;
}

.links li {
    list-style: none;
    display: inline;
    margin-left: 30px;
}
