html, body {
    height: 100%;
    line-height: 1;
}

body, h1, h2, div, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-shadow: none;
}

body {
    font-family: "europa", "helvetica neue", sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: #2c3136;
    color: #999999;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    background: #3e454c;
}

a:focus {
    outline: none;
}

#wrapper {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
} 

#content {
    padding: 50px 50px 50px 50px;
    text-align: right;
}

#intro {
    font-size: 22px;
    margin-bottom: 40px;
}

.welcome {
    color: #ffffff;
}

#list li {
    list-style: none;
    margin-top: 20px;
}

#blog a:link, #blog a:visited {
    color: #ff9379;
}

#email a:link, #email a:visited {
    color: #7cc598;
}

#github a:link, #github a:visited {
    color: #feffbf;
}

#twitter a:link, #twitter a:visited {
    color: #9dd6fd;
}

#lastfm a:link, #lastfm a:visited {
    color: #d26267;
}
    