html, body {
    height: 100%;
    line-height: 1;
}

body, h1, h2, div, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-shadow: none;
}

body {
    font-family: "europa", "helvetica neue", sans-serif;
    font-size: 16px;
    font-weight: 300;
    background: #96a2a6;
}

a:link, a:visited {
    color: #3e454c;
    text-decoration: none;
}

a:focus {
    outline: none;
}

#header_wrapper {
    background: #2c3136;
    padding: 10px 0 10px 0;
}

#header {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
} 

#header_content {
    padding: 0 50px 0 50px;
    text-align: center;
    font-size: 18px;
    color: #96a2a6;
}

.welcome {
    color: #fafbf6;
}

#main_wrapper {
    padding: 15px 0 50px 0;
}

#main {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
} 

#main_content {    
    padding: 0 50px 0 50px;
    text-align: right;
}

#list li {
    list-style: none;
    margin-top: 25px;
}

#blog a:hover {
    color: #ff9379;
}

#work a:hover {
    color: #c5a5ff;
}

#github a:hover  {
    color: #feffbf;
}

#email a:hover {
    color: #7cc598;
}

#twitter a:hover {
    color: #9dd6fd;
}

#lastfm a:hover {
    color: #d26267;
}
    