#info {
    font-size: 10px;
    text-transform: uppercase;
    color: #808080;
}

#main h1 {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e05000;
    margin-bottom: 3px;
}

#main a:link, #main a:visited {
    font-style: normal;
    text-decoration: none;
    color: #808080;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#main a:hover {
    color: #c0c0c0;
}

#main blockquote {
    font-style: italic;
    margin-right: 0;
}
