#info {
    font-size: 10px;
    text-transform: uppercase;
    color: #888;
}

#main h1 {
    font-family: 'PT Sans Narrow';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    color: #888;
}

#main a:link, #main a:visited {
    font-style: normal;
    text-decoration: none;
    color: #888;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#main a:hover {
    color: #ccc;
}

#main blockquote {
    font-style: italic;
    margin-right: 0;
}
