.section {
    padding-bottom: 20px;
}

.section h1 {
    font-family: 'PT Sans Narrow';
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #888;
}

.section h2 {
    font-size: 100%;
    display: inline;
}

.section li {
    margin-left: 20px;
}

.section a:link, .section a:visited {
    text-decoration: none;
    color: #888;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.section a:hover {
    color: #ccc;
}

.subsection {
    margin-top: 5px;
}

#button-wrapper {
    padding-top: 20px;
    text-align: center;
}

.button {     
    padding: 5px 15px;
    margin-bottom: 20px;
    background: #eee;
    color: #000000;
    font-family: 'Courier', monospace;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.button:hover, .button:focus {
    background: #e0e0e0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.button:active {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}
